@{
    ViewBag.Title = "Home Page";
}

@model LearningPlatform.Models.Courses.CourseCollection

<div class="home-page-intro">
    <h2>Intro</h2>
    <div>
        This is a site for software engineers. It covers a lot of topics related to Computer Science.
        If you want to contribute to this free site please contact me.
    </div>
</div>

<div class="courses-container row">
    <div class="courses-box-wrapper col-md-6">
        <div class="courses-box courses-featured">
            <div class="courses-title">Featured Courses</div>
            <div class="courses-list">
                @foreach (LearningPlatform.Models.Courses.Course course in Model.FeaturedCourses)
                 {
                    <div class="course-item" onclick="location.href='@Url.Action("GetCourse", "Courses", new { courseId = course.Id})'">
                        <div class="valign-center row">
                            <div class="course-item-title col-sm-9">@Html.DisplayFor(m => course.Title)</div>
                            <div class="course-item-date col-sm-3">@Html.DisplayFor(m => course.PublishDate)</div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="courses-box-wrapper col-md-6">
        <div class="courses-box courses-new">
            <div class="courses-title">New Courses</div>
            <div class="courses-list">
                @foreach (LearningPlatform.Models.Courses.Course course in Model.NewCourses)
                {
                    <div class="course-item" onclick="location.href='@Url.Action("GetCourse", "Courses", new { courseId = course.Id})'">
                        <div class="valign-center row">
                            <div class="course-item-title col-sm-9">@Html.DisplayFor(m => course.Title)</div>
                            <div class="course-item-date col-sm-3">@Html.DisplayFor(m => course.PublishDate)</div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
