<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title @(!String.IsNullOrEmpty(ViewBag.Title) ? "-" : "") Learning Platform</title>
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/plugins")
    @Styles.Render("~/Content/styles")
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/plugins")
    @Scripts.Render("~/bundles/site")
</head>
<body>
    <header id="header" class="page-header">
        <nav class="navbar navbar-default no-margin-bottom">
            <div class="container">
                <!-- Logo and Mobile Menu button -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="@Url.Action("Index", "Home")" class="navbar-brand"><span>C#.Heap</span></a>
                </div>

                <!-- Collapsible Navbar -->
                <div id="navbar-collapse" class="collapse navbar-collapse">
                    <div class="navbar-right">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Build Course", "BuildNewCourse", "CourseBuilder")</li>
                            <li>@Html.ActionLink("Courses", "GetCourses", "Courses")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                        <div class="navbar-login">
                            @Html.Partial("_LoginPartial")
                        </div>
                    </div>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </header><!-- /#header -->

    <div id="content" class="page-content no-padding no-margin">
        @RenderBody()
    </div><!-- /#content -->

    <footer id="footer" class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col col-sm-12 col-md-6 col-lg-3">
                    <h4 class="footer-title">Contributors</h4>
                    <ul class="footer-list">
                        <li>Alexandru Rus</li>
                        <li>Mihai Patrascoiu</li>
                        <li>Iuliu Zamfirache</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container full-width">
                &copy; @DateTime.Now.Year C#.Heap
            </div>
        </div>
    </footer><!-- /#footer -->
    @Html.Partial("_LoginModalPartial", new LearningPlatform.Models.Users.LoginUserModel())
    @RenderSection("scripts", required: false)
</body>
</html>
