@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model LearningPlatform.Models.Courses.CourseDetailsPageModel

@*all means not found, don't question it*@
@if (Model.UserCourseStatus != LearningPlatform.Core.Entities.UserEnrollmentTypeEnum.All)
{
    <div style="background-color: green">
        <h2>Current status: @Model.UserCourseStatus</h2>
        @if(Model.UserCourseStatus == LearningPlatform.Core.Entities.UserEnrollmentTypeEnum.Completed)
        {
            <h2>Rate this course: </h2>
        }
    </div>
}

<div class="course-details-container">
    <div class="course-details">
        <div class="course-info">
            <div class="course-info-title">@Html.DisplayFor(m => Model.CurrentCourse.Name)</div>
            @if (Model.CurrentCourse.IsFeatured == 1)
            {
                <div class="course-featured">Featured</div>
            }
            else
            {
                <div class="course-featured">New</div>
            }
            <div class="course-date">Published on: @Html.DisplayFor(m => Model.CurrentCourse.CreationDate)</div>
        </div>
        @if (Model.CurrentCourse.Tags != null)
        {
            <div class="course-tags">
                <div class="course-tag-title"> Tags </div>
                <div class="course-tag-tags">
                    @foreach (var tag in Model.CurrentCourse.Tags)
                {
                        <div class="course-tag-container">@Html.DisplayFor(m => tag.Name)</div>
                    }
                </div>
            </div>
        }
    </div>
    <div class="course-content">
        <div class="course-contenthtml-container">
            @Html.Raw(Model.CurrentCourse.ContentHtml);
        </div>
    </div>
</div>

