@model LearningPlatform.Models.Courses.CourseDetailsPageModel

@{
	ViewBag.Title = Model.CurrentCourse.Name;
}

<!-- Course Details -->
<div class="course-details-container">

	<!-- Course Details Header-->
	<div class="course-details-header">
		<div class="row">
			<div class="col-xs-12 col-md-5 pull-right">
				<div class="course-ribbon bg-blue">
					@{
						var courseImageUrl = Request.GetBaseUrl() + "api/courses/" + Model.CurrentCourse.Id + "/thumbnail";
					}
					<img class="course-image img-responsive" src="@courseImageUrl" onerror="imageError(this);">
					<div class="course-date text-right">Published on @String.Format("{0:dd MMM yyyy}", Model.CurrentCourse.CreationDate)</div>

					@if (Model.CurrentCourse.IsFeatured == 1)
					{
						<div class="ribbon-text-large text-center">Featured Course</div>
					}
					@* TODO: Course Rating is always 0. *@
					<div>Rating: @Model.CurrentCourse.Rating.ToString("0.00")</div>

					@* UserEnrollmentTypeEnum.All means not found, don't question it *@
					@*  > I don't even want to know *@
					@if (Model.UserCourseStatus != LearningPlatform.Core.Entities.UserEnrollmentTypeEnum.All)
					{
						<div>Status: @Model.UserCourseStatus</div>
						if (Model.UserCourseStatus == LearningPlatform.Core.Entities.UserEnrollmentTypeEnum.Completed)
						{
							<div class="text-center">Rate this course</div>
														@Html.Partial("_RatingScale")
						}
					}
				</div>
			</div>
			<div class="course-header-info col-xs-12 col-md-7 pull-left">
				<h2 class="course-title">@Html.DisplayFor(m => Model.CurrentCourse.Name)</h2>
				<div class="field-label">Description</div>
				<div class="description">@Html.DisplayFor(m => Model.CurrentCourse.Description)</div>
			</div>
		</div>
	</div><!-- /.course-details-header -->
    
    @if (Model.CurrentCourse.CourseTopics.Count > 0)
    {
	    <!-- Course Details Topics -->
	    <div class="course-details-topics">
		    <h3>Course Topics</h3>
		    <hr />

		    <div class="panel-group">
			    @foreach (var topic in Model.CurrentCourse.CourseTopics)
                {
				    <div class="panel panel-default">
					    <div class="panel-heading">
						    <h4 class="panel-title">
							    <a class="collapsible-toggle @(topic.Id > 1 ? "collapsed" : "")" data-toggle="collapse" href="#topic@(topic.Id)">@topic.TopicName</a>
						    </h4>
					    </div>
					    <div id="topic@(topic.Id)" class="panel-collapse collapse @(topic.Id == 1 ? "in" : "")">
						    <div class="panel-body">
							    <div class="topic-description">@topic.TopicDescription</div>
							    <div class="field-label">Resources</div>
							    @foreach (var resource in topic.CourseTopicLinks)
                                {
								    <div class="topic-resource"><a href="@resource.Link">@resource.Name</a></div>
                                }							
						    </div>
					    </div>
				    </div>
                }			
		    </div>
	    </div><!-- /.course-details-topics -->
    }

</div><!-- /.course-details-container -->
