@model LearningPlatform.Models.Courses.CoursesListPageModel

<div class="courses-list-page">

    <div class="search-courses-container">

        <div class="search-group">

            <button type="button" value="Add paragraph"
                    class="search-option-dropdown btn btn-primary"
                    onclick="location.href='@Url.Action("GetFilteredCoursesByDate", "Courses")'">
                Sort by date
            </button>

            @Html.TextBoxFor(m => Model.Filter, new { placeholder = "Search course", @id="search-course-textbox", @class = "search-course", @onchange = "onchangeevent();" })
            
            @Html.DropDownListFor(m => m.SelectedTagId, new SelectList(Model.Tags, "Id", "Name", Model.SelectedTagId), "Search by tag", new { @class = "search-course", @onchange = "searchbytags();", @id = "tags-dropdown" })
            
        </div>
        </div>

    <div class="courses-container">

        <div class="class-list-header">
            <div class="courses-name-header">Title</div>
            <div class="courses-date-header">Publish Date</div>
        </div>

        <div class="courses-list">
            @foreach (LearningPlatform.Core.Entities.Course course in Model.Courses)
            {
                <hr class="course-separator" />

                <div class="course-row" onclick="location.href='@Url.Action("GetCourse", "Courses", new { courseId = course.Id})'">
                    <div class="course-title-container">@Html.DisplayFor(m => course.Name)</div>
                    <div class="course-date-container">@Html.DisplayFor(m => course.CreationDate)</div>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    function onchangeevent() {
        var searchBy = document.getElementById('search-course-textbox').value;
        location.href = '@Url.Action("SearchCourses", "Courses")?filter=' + searchBy;
    }
    function searchbytags() {
        
        var selectedTag = $("#tags-dropdown option:selected").text();
        location.href = '@Url.Action("SearchCoursesByTags", "Courses")?tag=' + selectedTag;
    }
</script>





